# Vendored code
/vendor/

# User Specific
**/.vs
**/.idea
**/.ionide

.vscode/
!.vscode/settings.json
!.vscode/extensions.json

.pulumi
Pulumi.*.yaml

.make/
.test/
.envrc

# Build Artifacts
**/bin/
**/obj/
**/node_modules/
yarn.lock
/nuget/
ci-scripts
.work/
dist/
out/

provider/**/schema-embed.json

examples/**/venv/
examples/**/__pycache__/

sdk/dotnet/version.txt

sdk/java/build
sdk/java/.gradle
sdk/java/gradle
sdk/java/gradlew
sdk/java/gradlew.bat

sdk/python/venv
