[Unit]
Description=The Pulumi Bare Metal Provisioner
Documentation=https://github.com/unmango/pulumi-baremetal
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=$PROVISIONER_BIN \
	--address $LISTEN_ADDRESS \
	--network $LISTEN_NETWORK \
	--verbose
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
